body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;

    background-image: url("assets/fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    max-width: 450px;
    margin: 40px auto;
    padding: 25px;
    background: white;
    border-radius: 12px;
}

button {
    width: 100%;
    padding: 12px;
    background: #e9d24f;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

textarea {
    resize: none;
    height: 60px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 5px;
}